/*--  
	BACA PESAN DIBAWAH!!!

	
	BIKIN KODE NA SING RAPIH DAN TERSTRUKTUR TERUS LAMUN REK JIEUN CLASS KUDU KONSISTEN ULAH DICAMPUR-CAMPUR PAKE INDONESIA JEUNG BAHASA INGGRIS KAMPRET, MULAI AYEUNA LAMUN NYIUEN CLASS PAKE BAHASA INGGRIS OMAD!!!! 
--*/

/* -- Reset -- */
body{
	background-color: lightgrey;
}

.bg-white{
	background: white;
}

 /*scroll bar */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    height: 15px;
    border-radius: 8px;
    background-color: black;
}

.jumbotron{
	min-height: 440px;
}

/*marque*/
.batas{
	width: 100%;
	height: 50px;
	background-color: black;
}
.batas p{
	margin-top: 7px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: black;
}

.img-caption p{
	color: white;
}
.img-caption h3{
	color: white;
}

/* float whatsapp button */
.float-btn{
	position: fixed !important;
	bottom: 20px;
	right: 20px;
	padding: 0px !important;
	font-size: 80px;
	color: green;
	z-index: 99;
	transition: .5s;
}

.float-btn:hover{
	background-color: green;
	opacity: .2;
}
/* loading animation*/
.loading{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.loading p{
	color: #fff;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


/* -- Reuse Component (Komponent yang digunakan terus terusan) -- */

/*navbar*/
.navbar{
	background-color: #EEEEEE;
}

.nav-left{
	display: flex;
	justify-content: center !important;
}

.svgatas svg{
	margin-right: 20px;
	margin-left: 20px; 
}


/*footer*/
footer{
	bottom: 0;
	width: 100%;
	height: 75px;
	background-color: #333;
	padding-top: 25px;
}
footer p{
	font-size: 0,9em;
	color: #aaa; 
}
footer p svg{
	color: red;
}

.contact{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #EEEEEE;
}
.contact h3{
	padding-bottom: 10px;
}

.footer-contact i, .footer-contact a{
	color: #333;
	transition: .5s;
}

.footer-contact .contact-section a{
	font-size: 20px;
}

.fb-icon:hover{
	color: blue;
}

.ig-icon:hover{
	color: pink;
}

/* icons */
.social-media i{
	font-size: 50px;
	margin: 0px 5px;
}

/* -- All Pages Start Here -- */

/* home page*/
.konten svg{
	color: black;
}
.konten {
	padding-bottom: 50px;
}
.konten h2{
	padding-top: 20px;
}
.konten hr{
	width: 200px;
	border-top: 4px solid black;
}

/* product page */
.product{
	background-color: white;
}
.product hr{
	border-top: 4px solid black;
	width: 300px;
	opacity: 50%;
}
.card-group{
	padding-bottom: 50px;
	padding-top: 20px;
}
.product h2{
	padding-top: 50px;
}

.card-group{
	width: 100%;
}

.my-card{
	width: 200px;
}

/* contact page */
.contact-page small{
	font-size: 20px;
}
.contact-page i{
	margin-right: 5px;
}

iframe{
	width: 100%;
	min-height: 440px;
}

/* ukuran lanscape phone*/
@media (min-width: 576px) {  
}

/* ukuran tables */
@media (min-width: 768px){

}


/* ukuran desktop */
@media (min-width: 992px){
	/*navbar*/
	.nav-left{
		display: flex;
		justify-content: flex-end !important;
	}
}